$container-size: 800px;
$font-size-small: 12px;
$font-size-title: 14px;
$font-size-product: 18px;
$font-size-main-title: 24px;
$font-size-price-title: 46px;
$font-size-description-title: 28px;
$font-size-description-text: 16px;
$margin-small: 16px;
$margin-large: 32px;
$border: 3px;
